<div id="switcher" class="hide hidden-xs">
    <div id="content" class="content-switcher">
    <h4>지역 채팅</h4>
    </div>
    <div id="hideSwitcher">&times;</div>
    <div id="chatList">
    <button id="gyeonggi" class="btn btn-featured btn-red">
        <span>경기</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="seoul" class="btn btn-featured btn-black">
        <span>서울</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="chungbuk" class="btn btn-featured btn-teal">
        <span>충북</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="chungnam" class="btn btn-featured btn-yellow">
        <span>충남</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="gyeongbuk" class="btn btn-featured btn-brown">
        <span>경북</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="gyeongnam" class="btn btn-featured btn-amber">
        <span>경남</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="jeonbuk" class="btn btn-featured btn-dirtygreen">
        <span>전북</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="jeonnam" class="btn btn-featured btn-aqua">
        <span>전남</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    <button id="jeju" class="btn btn-featured btn-leaf">
        <span>제주</span>
        <i class="et-megaphone"></i>
    </button>
    <br/><br/>
    </div>
</div>
<div id="showSwitcher" class="chatBoard hide hidden-xs">
    <i class="fa fa-flask"></i>
</div>
