<!doctype html>
<%- include Header.ejs %>
<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>

<body class="smoothscroll enable-animation">
<!-- wrapper -->
<div id="wrapper">

    <div id="header" class="sticky clearfix">

        <!-- TOP NAV -->
        <%- include TopNav.ejs %>
        <!-- /Top Nav -->

    </div>
    <section>
        <div class="container">
            <form action="/detail/add" method="post" encType="multipart/form-data">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label>
                                제목
                            </label>
                            <input type="text" name="title" placeholder="제목을 입력하세요" class="form-control" value="<%=schedule_id%>">
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-transparent">
                        <strong>내용</strong>
                    </div>
                    <div class="panel-body">
                        <textarea class="summernote" name="contents" data-height="200" data-lang="en-US"></textarea>
                    </div>

                </div>


                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="fancy-file-upload fancy-file-primary">
                                <i class="fa fa-upload"></i>
                                <input type="file" class="form-control" name="img1"
                                       onchange="jQuery(this).next('input').val(this.value);"/>
                                <input type="text" class="form-control" placeholder="no file selected" readonly=""/>
                                <span class="button">Choose File</span>
                            </div>
                            <div class="fancy-file-upload fancy-file-primary">
                                <i class="fa fa-upload"></i>
                                <input type="file" class="form-control" name="img2"
                                       onchange="jQuery(this).next('input').val(this.value);"/>
                                <input type="text" class="form-control" placeholder="no file selected" readonly=""/>
                                <span class="button">Choose File</span>
                            </div>
                            <div class="fancy-file-upload fancy-file-primary">
                                <i class="fa fa-upload"></i>
                                <input type="file" class="form-control" name="img3"
                                       onchange="jQuery(this).next('input').val(this.value);"/>
                                <input type="text" class="form-control" placeholder="no file selected" readonly=""/>
                                <span class="button">Choose File</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-3d btn-teal btn-xlg btn-block margin-top-30">
                            등록합니다
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <!-- FOOTER -->
    <%- include Footer.ejs %>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->

<!-- JAVASCRIPT FILES -->

<script type="text/javascript">
    var plugin_path = '/assets/plugins/';
</script>

<script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

<script type="text/javascript" src="/assets/js/scripts.js">
    $('#summernote').summernote({
        height: 590,
        focus: true,
        callbacks: {
            onImageUpload: function (file, editor, welEditable) {
                saveFile(file[0], editor, welEditable);
            }
        }
    });

    function saveFile(file, editor, welEditable) {
        console.log(file)
        data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/detail/add",
            cache: false,
            contentType: false,
            processData: false,
            success: function (url) {
                console.log(url)
                editor.insertImage(welEditable, url);
            }
        });
    }
</script>


</body>
</html>