<!DOCTYPE html>
<%- include Header.ejs %>
<style>
	#heart_icon {
		color: black;
	}
	#heart_icon:hover {
		color: red;
	}
	.after_heart {
		color:red;
	}
</style>
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				<!-- TOP NAV -->
				<%- include TopNav.ejs %>
				<!-- /Top Nav -->

			</div>

			<section class="page-header dark page-header-xs">
				<div class="container">

					<h1>TimeLine</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li><a href="#">일정</a></li><!--
						<li><a href="/schedule/list">일정 목록</a></li>
						<li class="#"></li>-->
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">
					<!-- LEFT -->
					<div class="col-md-9 col-sm-9">
						<!-- TIMELINE -->
						<div class="timeline"><!-- .timeline-inverse = right position [left on RTL] -->
							<div class="timeline-hline"><!-- horizontal line --></div>

							<!-- POST ITEM -->
								<div class="blog-post-item">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										<a href="#" id="heart_icon" ><i class="fa fa-heart" ></i></a>
										<!--<span>12</span>-->
										<span style="color:lightslategray">12</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->
										<!-- IMAGE -->
										<figure class="margin-bottom-20">
												<img class="img-responsive" src="/assets/images/demo/content_slider/3-min.jpg" alt="Sample Image">
												(Title)
										</figure>
										<h2><a href="#">title</a></h2>
									<ul class="blog-post-info list-inline">
										<li>
											<a href="#">
												<i class="fa fa-clock-o"></i>
												<span class="font-lato">2011.11.11</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-user"></i>
												<span class="font-lato">John Doe</span>
											</a>
										</li>
									</ul>
									asdf
								</div>
							<!-- /POST ITEM -->

							<!-- POST ITEM -->
							<div class="blog-post-item">
								<!-- timeline entry -->
								<div class="timeline-entry rounded"><!-- .rounded = entry -->
									<a href="#" id="heart_icon" ><i class="fa fa-heart" ></i></a>
									<!--<span>12</span>-->
									<span style="color:lightslategray">12</span>
									<div class="timeline-vline"><!-- vertical line --></div>
								</div>
								<!-- /timeline entry -->
								<!-- IMAGE -->
								<figure class="margin-bottom-20">
									<img class="img-responsive" src="/assets/images/demo/content_slider/3-min.jpg" alt="Sample Image">
									(Sample Image)
								</figure>
								<h2><a href="#">title</a></h2>
								<ul class="blog-post-info list-inline">
									<li>
										<a href="#">
											<i class="fa fa-clock-o"></i>
											<span class="font-lato">2011.11.11</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span class="font-lato">John Doe</span>
										</a>
									</li>
								</ul>
							</div>
							<!-- /POST ITEM -->

						</div>
						<!-- /TIMELINE -->
					</div>

				</div>
			</section>
			<!-- / -->




			<!-- FOOTER -->
			<%- include Footer.ejs %>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '/assets/plugins/';</script>-->
		<script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="/assets/js/scripts.js"></script>

	</body>
</html>