<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- BUTTONS -->
        <ul class="pull-right nav nav-pills nav-second-main">

            <!-- SEARCH -->
            <li class="search">
                <a href="javascript:;">
                    <i class="fa fa-search"></i>
                </a>
                <div class="search-box">
                    <form action="/search" method="get">
                        <div class="input-group">
                            <input type="text" name="searchTitle" placeholder="Search" class="form-control"/>
                            <span class="input-group-btn">
												<button class="btn btn-primary" type="submit">Search</button>
											</span>
                        </div>
                    </form>
                </div>
            </li>
            <!-- /SEARCH -->


        </ul>
        <!-- /BUTTONS -->

        <!-- Logo -->
        <a class="logo pull-left" href="/">
            <img src="/assets/images/logo_triptter.png" alt=""/>
        </a>

        <!--
            Top Nav

            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
            <nav class="nav-main">
                <% if (login == true){ %>
                <ul id="topMain" class="nav nav-pills nav-main">
                    <li class="dropdown"><!-- HOME -->
                        <a class="dropdown-toggle" href="#">
                            타임 라인
                        </a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="/timeline">TIME LINE - Date</a></li>
                            <li class="divider"></li>
                            <li><a href="/timeline/recommend">TIME LINE - Recommend</a></li>
                            <li class="divider"></li>
                            <li><a href="/timeline/comments">TIME LINE - Comments</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown"><!-- FEATURES -->
                        <a class="dropdown-toggle" href="#">
                            일정
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule/list"><i class="et-grid"></i> 일정 목록</a></li>
                            <li><a href="/schedule/register"><i class="et-expand"></i> 일정 등록</a></li>
                            <li><a href="feature-essentials.html"><i class="et-heart"></i> ESSENTIALS</a></li>
                            <li><a target="_blank" href="../Admin/HTML/"><span class="label label-success pull-right">BONUS</span><i
                                            class="et-gears"></i> ADMIN PANEL</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><!-- BLOG -->
                        <a class="dropdown-toggle" href="/mypage">
                            마이페이지
                        </a>
                    </li>
                    <li class="dropdown"><!-- BLOG -->
                        <a class="dropdown-" href="/logout">
                            로그아웃
                        </a>
                    </li>
                    <% }else { %>
                    <ul id="topMain" class="nav nav-pills nav-main">
                    <li class="dropdown"><!-- BLOG -->
                        <a class="" href="/login">
                            로그인
                        </a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</header>